body{
    color:white;
    background:black;
    /* font-size: 3em; */
    width:95%;
    margin: auto;
}
/* h3{
    font-size: 1.2em;
}
h4{
    font-size: 1em;
} */
li{
    list-style: none;
}

 .blue{
  color: #BABAF0;
  
}


