@charset "utf-8";
.yu-pin{margin-bottom:20px;padding-left: 0px;}
.yu-pin-title{color: white;background: red;border-radius:4px;padding: 5px;}

.tab1 .container .yu-list{text-align: center;}

.navbar-brand-img{width: 140px;margin-top: -13px;}

			